body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 150px;
  margin-left: 80px;
  margin-top: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-inline: 250px;
  margin-top: 120px;
  color: white;
  font-family: "Outfit", sans-serif;
}

.Timer {
  display: inline-block;
}

.answers {
  text-align: center;
  margin-top: 50px;
}
.answers2 {
  text-align: center;

  margin-bottom: 13px;
}

.answers div {
  display: inline-block;
}

.answers2 div {
  display: inline-block;
}

.button-answer {
  width: 280px;
  height: 50px;
  margin: 13px;
  color: white;
  border: none;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 30px;
  box-shadow: -1px -1px 1px 1px white;
  overflow-wrap: break-word;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  vertical-align: bottom;
}

.question-number {
  color: #ac1286c0;
  text-align: center;
  margin-top: 75px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 3px;
}

span {
  color: rgba(255, 255, 255, 0.781);
}
