body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 150px;
  margin-left: 80px;
  margin-top: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-inline: 250px;
  margin-top: 120px;
  color: white;
  font-family: "Outfit", sans-serif;
}

.answers {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 13px;
}
.answers2 {
  text-align: center;
}

.answers div {
  display: inline-block;
}

.answers2 div {
  display: inline-block;
}

.button-answer {
  width: 300px;
  height: 50px;
  border: none;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 30px;
  box-shadow: -1px -1px 1px 1px white;
  padding: 100px;
}

button p {
  font-weight: bold;
  color: white;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-number {
  color: #ac1286;
  text-align: center;
  margin-top: 75px;
  font-family: "Outfit", sans-serif;
}

span {
  color: white;
}
